body{
    background: linear-gradient(90deg, #fffafa, #edeef0);
}

#jv-wrapper {
    margin-top: 30px;
    margin-left:auto;
    margin-right:auto;
    padding: 0;
    position: relative;
    width: 65%;
}

#jv-maintop {
    height: 300px;
    width: 100%;
    overflow: hidden;
    border: 1px groove black;
    border-radius: 5px;
}

#jv-topnav {
    margin-top: 3px;
}

.backgroundImage {
    height: 300px;
    width: 100%;
}

#jv-containerwrap {
    margin-top: 3px;
}

.jv-left-wrapper {
    float: left;
    width: 18%;
}

.jv-content-wrapper {
    width: 81.5%;
    float: right;
}

.ui-widget-content {
    border: 2px solid #dddddd;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333333;
}

.gallery-style {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 700px;
}

.car-info-box div {
    display: inline-block;
    margin: 0 0 1px 1px;
    vertical-align: top;
}

#jv-footer-wrapper {
    margin: 0 0 20px 0;
    padding: 25px 0 0 0;
    width: 100%;
    height: 71px;
    overflow: hidden;
    position: relative;
    float: left;
}