body{
    background: linear-gradient(to top, #fefcea, #e0e0f1);
}

#jv-wrapper {
    margin-top: 30px;
    margin-left:auto;
    margin-right:auto;
    padding: 0;
    position: relative;
    width: 65%;
    border: 3px groove black;
    border-radius: 10px;

}

#jv-main-header {

}

#jv-maintop {
    height: 300px;
    width: 100%;
    overflow: hidden;
}

#jv-topnav {
    margin-left:auto;
    margin-right: auto;
}

.backgroundImage {
    height: 300px;
    width: 100%;
}

#jv-containerwrap {
    margin-top: 2px;
}

#jv-container .jv-left-wrapper {
    background: #faff35;
    float: left;
    width: 20%;
}

#jv-container .jv-content-wrapper {
    width:80%;
    float: right;
}

#jv-footer-wrapper {
    margin: 0 0 20px 0;
    padding: 25px 0 0 0;
    width: 100%;
    height: 71px;
    overflow: hidden;
    position: relative;
    float: left;
}