body{
    background: linear-gradient(45deg, snow, #C5DDE8);
}

#jv-wrapper {
    margin-top: 30px;
    margin-left:auto;
    margin-right:auto;
    padding: 0;
    position: relative;
    width: 65%;
}

#jv-maintop {
    height: 300px;
    width: 100%;
    overflow: hidden;
    border: 3px groove black;
    border-radius: 10px;
}

#jv-topnav {
    margin-top: 3px;
}

.backgroundImage {
    height: 300px;
    width: 100%;
}

#jv-containerwrap {
    margin-top: 3px;
}

.jv-left-wrapper {
    float: left;
    width: 20%;
    min-width: 15%;
}

.jv-content-wrapper {
    width:80%;
    min-width: 40%;
    float: right;
}

#jv-footer-wrapper {
    margin: 0 0 20px 0;
    padding: 25px 0 0 0;
    width: 100%;
    height: 71px;
    overflow: hidden;
    position: relative;
    float: left;
}